.button{
  box-shadow: 0px 15px 20px -2px rgba(103, 9, 222, 0.2);
  border-radius: 30px;
  padding: 10px 24px;
  cursor: pointer;
  transition: .45s ease;
  border: none !important;
  outline: none !important;
  &:hover{
    transition: .45s ease;
    text-decoration: none;
  }


}

.button_purple{
  background-color: #6709DE;
  color: white;
  &:hover{
    background-color: darken($color:  #6709DE, $amount: 7);
    color: white;
  }
}

.button_yellow{
  background-color: #F9F9F9;
  color: #868686;
  &:hover{
    background-color: #FBD035;
    color: #020202;
  }
}

.title{
  font-weight: 800;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: #020202;
  span{
    color: #6709DE;
  }
}

.slider-navigation{
  margin: auto;
  width: fit-content;
  margin-bottom: 48px;
  .splide--nav>.splide__track>.splide__list>.splide__slide.is-active{
    border: none;
    color: #6709DE;
    border-bottom: 2px solid #6709DE;
  }
}